/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Playfair Display';
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Amatic SC';
}
header {
  background-color: #535974;
  padding: 1.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: 2.5rem;
  color: #FFEBCD;
  text-align: center;
}
header nav {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
header nav a {
  font-size: 2rem;
  text-decoration: none;
  color: #FFEBCD;
  font-family: 'Amatic SC';
}
header nav a:hover {
  background-color: #FFEBCD;
  color: #535974;
}
.one {
  background-color: #FFEBCD;
  color: #535974;
  height: 58vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
}
@media (max-width: 500px) {
  .one {
    align-items: center;
  }
}
.one h2 {
  width: 40%;
  font-size: 5rem;
  text-align: center;
}
@media (max-width: 500px) {
  .one h2 {
    font-size: 3rem;
  }
}
@media (max-width: 800px) {
  .one h2 {
    font-size: 6rem;
  }
}
.one p {
  padding: 1% 4%;
  width: 45%;
  font-size: 14px;
  line-height: 3rem;
}
@media (max-width: 500px) {
  .one p {
    width: 100%;
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  .one p {
    width: 90%;
    text-align: center;
  }
}
.one div {
  width: 40%;
  text-align: center;
}
@media (max-width: 800px) {
  .one div {
    width: 90%;
    padding: 2%;
  }
}
.one div .registration-btn {
  color: #FFEBCD;
  background-color: #535974;
  border-radius: 1rem;
  padding: 2%;
  text-align: center;
  width: 92%;
}
.one div .registration-btn:hover {
  color: #535974;
  background-color: #FFEBCD;
}
@media (max-width: 800px) {
  .one div .registration-btn {
    font-size: 1.5rem;
  }
}
.two {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 5% auto;
  border-top: 2px dashed #535974;
  border-bottom: 2px dashed #535974;
}
.two .two-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4% 0;
}
@media (max-width: 800px) {
  .two .two-container {
    flex-direction: column;
  }
}
.two .two-container h2 {
  width: 25%;
  font-size: 3rem;
  text-align: center;
}
@media (max-width: 800px) {
  .two .two-container h2 {
    margin: 2% 0;
  }
}
.two .two-container p {
  width: 45%;
  font-size: 12px;
  line-height: 3rem;
}
@media (max-width: 800px) {
  .two .two-container p {
    font-size: 14px;
    width: 90%;
    margin-bottom: 4%;
  }
}
.top-content {
  background-color: #FFEBCD;
  color: #535974;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px dashed #535974;
}
.top-content h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 4%;
}
@media (max-width: 500px) {
  .top-content h1 {
    font-size: 8rem;
  }
}
.about-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50vh;
  margin: 0 auto;
  padding: 2%;
}
@media (max-width: 500px) {
  .about-us {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .about-us {
    width: 90%;
  }
}
.about-us .card-info {
  width: 30%;
  padding: 2%;
  text-align: center;
}
@media (max-width: 500px) {
  .about-us .card-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 4% 0;
  }
}
.about-us .card-info h3 {
  font-size: 3rem;
  margin-bottom: 4%;
}
@media (max-width: 500px) {
  .about-us .card-info h3 {
    font-size: 2rem;
  }
}
.about-us .card-info p {
  line-height: 2rem;
  font-size: 12px;
}
@media (max-width: 500px) {
  .about-us .card-info p {
    font-size: 10px;
    width: 60%;
  }
}
footer {
  background-color: #535974;
  color: #FFEBCD;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
}
footer h3 {
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  footer h3 {
    font-size: 2rem;
  }
}
footer nav {
  display: flex;
  justify-content: space-between;
  width: 25%;
}
footer nav a {
  text-decoration: none;
  color: #FFEBCD;
  font-size: 2rem;
  font-family: 'Amatic SC';
}
footer nav a:hover {
  background-color: #FFEBCD;
  color: #535974;
}
@media (max-width: 500px) {
  footer nav {
    display: none;
  }
}
@media (max-width: 800px) {
  footer nav {
    display: none;
  }
}
