header {
  background-color: @main-background;
  padding: 1.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 2.5rem;
    color: @general;
    text-align: center;
  } // closes h1

  nav {
    width: 40%;
    display: flex;
    justify-content: space-between;

    a {
      font-size: 2rem;
      text-decoration: none;
      color: @general;
      font-family: 'Amatic SC';

      &:hover {
        background-color: @general;
        color: @primary;
      } // closes a hover
    } // closes a 
  } // closes nav
} // closes header