header {
  background-color: @secondary-background;
  padding: 2%;
  margin: 2% 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .title {
    display: flex;
    justify-content: space-between;

    // .logo {

    // } // closes logo

    h1 {
      font-size: 5rem;
      color: @primary;
      text-align: center;
    } // closes h1
  } // closes title

  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12vh;

    a {
      font-size: 2rem;
      text-decoration: none;
      color: @primary;
      font-family: 'Amatic SC';
    } // closes a 
  } // closes nav
  
} // closes header