// Color assignments 
@main-background: @primary; 
@secondary-background: @secondary;
@general:  @sandy-beach;
@navigation-border: @sandy-beach;
@footer-bg: @sandy-beach;

// Colors
@primary: #FDF269;
@secondary: #384786;
@sandy-beach: #FFEBCD;

// Escape values
@mobile: ~"(max-width: 500px)";
// @tablet: ~"(max-width: 800px)";